<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
   
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.eco.bio7.ijmacro.editors.IJMacroEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="ijm"
            icon="icons/imagejmacrofile.png"
            id="com.eco.bio7.editors.ijmacro.editor"
            name="ImageJ Macro Editor"
            symbolicFontName="com.eco.bio7.ijmacro.editor.textfont">
      </editor>
   </extension>
   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ijm"
            class="com.eco.bio7.ijmacro.editors.ScriptDocumentSetupParticipant">
      </participant>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.eco.bio7.preferences.Bio7PreferencePage"
            class="com.eco.bio7.ijmacro.editor.preferences.TemplatesPreferencePage"
            id="org.eclipse.ui.examples.templateeditor.preferencepage"
            name="%xml.editor.preferencePage.label">
      </page>
      <page
            category="com.eco.bio7.preferences.Bio7PreferencePage"
            class="com.eco.bio7.ijmacro.editor.preferences.WorkbenchPreferenceijmacro"
            id="prefijmacroeditor"
            name="Preferences ImageJ Macro Editor"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="%xml.contextType.name"
            class="com.eco.bio7.ijmacro.editor.preferences.template.IJMacroContextType"
            id="ijmacro">
      </contextType>
     
      <include
      		file="templates/ant.xml"
      		translations="$nl$/templates/ant.properties">
      </include>
   </extension>
   <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.eco.bio7.ijmacro.editor.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
     point="org.eclipse.ui.themes">
  <fontDefinition
        label="ImageJ Macro Editor Font"
        defaultsTo="org.eclipse.jface.textfont"
        categoryId="com.eco.bio7.ijmacro.editor.theme"
        id="com.eco.bio7.ijmacro.editor.textfont">
     
  </fontDefinition>
  <themeElementCategory
        id="com.eco.bio7.ijmacro.editor.theme"
        label="ImageJ Macro editor">
  </themeElementCategory>
 </extension>
 <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.DebugHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.DebugAbortHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.abort">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.DebugStepHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.step">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.TraceHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.trace">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.FastTraceHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.fasttrace">
           
      </handler>
      
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.RunToInsertionPointHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.runto">
           
      </handler>
      
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.RunToCompletionHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.runtocompletion">
           
      </handler>
      
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.debug.EvaluateLineHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.evaluateline">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.TextZoomInHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.zoomIn">
           
      </handler>
      <handler
            class="com.eco.bio7.ijmacro.editor.actions.TextZoomOutHandler"
            commandId="com.eco.bio7.ijmacro.editor.actions.text.zoomOut">
           
      </handler>
     
   </extension>
   <extension
       id="com.eco.bio7.beanshelleditor.refactor.rename"
       point="org.eclipse.ui.bindings">
        <sequenceModifier
  			find="CTRL"
  			replace="COMMAND"
  			platforms="cocoa,carbon" />
     
   <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+D">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.abort"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+X">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.step"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+E">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.trace"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+T">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.fasttrace"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+T">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.runto"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+E">
    </key>
    
     <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.runtocompletion"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+X">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.debug.evaluateline"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+Y">
    </key>
     <key
            commandId="com.eco.bio7.interpret.ijmacro"
            contextId="com.eco.bio7.ijmacro.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.zoomIn"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL++">
    </key>
    <key
          commandId="com.eco.bio7.ijmacro.editor.actions.text.zoomOut"
          contextId="com.eco.bio7.ijmacro.editor.scope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+-">
    </key>
   
    </extension>
   <extension 
   point="org.eclipse.ui.commands">
   <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Debug command"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug"
          name="Debug">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Debug abort"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.abort"
          name="Abort">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Debug step"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.step"
          name="Step">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Trace"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.trace"
          name="Trace">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Fast Trace"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.fasttrace"
          name="Fast Trace">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Run To Insertion Point (Caret)"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.runto"
          name="Run To Insertion Point">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Run"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.runtocompletion"
          name="Run">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Evaluate Line"
          id="com.eco.bio7.ijmacro.editor.actions.text.debug.evaluateline"
          name="Evaluate Line">
    </command>
       <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Zoom in text, increase default font size for text editors"
          id="com.eco.bio7.ijmacro.editor.actions.text.zoomIn"
          name="Zoom In">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Zoom out text, decrease default font size for text editors"
          id="com.eco.bio7.ijmacro.editor.actions.text.zoomOut"
          name="Zoom Out">
    </command>
    <command
          categoryId="org.eclipse.ui.category.textEditor"
          description="Interpret ImageJ Macro"
          id="com.eco.bio7.interpret.ijmacro"
          name="Interpret ImageJ Macro Action">
      </command>
      
     
   </extension>
   <extension point="org.eclipse.ui.contexts">
          <context name="ImageJ Macro Editor Context"
           description="ImageJ Macro Editor Context"
           parentId="org.eclipse.ui.textEditorScope"
           id="com.eco.bio7.ijmacro.editor.scope" />
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.eco.bio7.ijmacro.editor.interpret"
               label="Editor Actions">
            <command
                  commandId="com.eco.bio7.interpret.ijmacro"
                  disabledIcon="icons/imagejmacrointerpret.png"
                  icon="icons/imagejmacrointerpret.png"
                  id="toolbar.interpretmacro"
                  label="Interpret ImageJ Macro"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activePartId">
                     <or>
                        <equals
                              value="com.eco.bio7.editors.ijmacro.editor">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.eco.bio7.ImageJ"
            class="com.eco.bio7.ijmacro.editor.wizards.ImageJMacroWizard"
            icon="icons/imagejmacrofile.png"
            id="com.eco.bio7.ijmacro"
            name="ImageJ Macro File"
            project="false">
      </wizard>
   </extension>
</plugin>
